.search-container {
  gap: 15px;
  width: 80%;
  margin-top: 30px;
}

.search-input {
  padding: 8px 25px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  font-size: 1.1em;
}

.search-btn {
  padding: 8px 25px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  background-color: #2563EB;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
}

.sort-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.form-select {
  border-radius: 30px;
  /* min-width: 120px; */
}