.folder-container {
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
}

.folder-img {
  width: 70px;
}

.folder-name {

}